body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Ocupa toda a altura da tela */
    background-color: #f8f8f8; /* Cor de fundo */
}

.container {
    text-align: center; /* Centraliza o texto */
    background-color: #fff; /* Cor de fundo do container */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra ao redor do container */
    width: 300px; /* Largura do container */
}

h1 {
    margin-bottom: 20px;
}

input[type="text"],
input[type="email"],
textarea,
select {
    width: 100%; /* Largura total */
    padding: 10px;
    margin-bottom: 10px; /* Espaçamento inferior */
    border: 1px solid #ccc; /* Borda do input */
    border-radius: 4px; /* Bordas arredondadas */
}

input[type="submit"] {
    background-color: #4CAF50; /* Cor do botão */
    color: white; /* Cor do texto do botão */
    border: none;
    border-radius: 4px; /* Bordas arredondadas */
    padding: 10px;
    cursor: pointer; /* Cursor do mouse ao passar sobre o botão */
}

input[type="submit"]:hover {
    background-color: #45a049; /* Cor do botão ao passar o mouse */
}

footer {
    margin-top: 20px;
    text-align: center; /* Centraliza o texto do rodapé */
}
